<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <style>
    .card .img-fluid {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  </style>
    <title>Science fiction library</title>
  </head>
  <body>
    <hr style="border-top: 1px solid #ccc; margin-top: 0px; margin-bottom: 50px;">
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_num > 1 %}
        <li class="page-item"><a class="page-link" href="index{{page_num - 1}}.html">Назад</a></li>
      {% endif %}
      {% for i in range(1, num_pages + 1) %}
        {% if i == page_num %}
          <li class="page-item active"><span class="page-link">{{ i }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="index{{i}}.html">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_num < num_pages %}
        <li class="page-item"><a class="page-link" href="index{{page_num + 1}}.html">Вперёд</a></li>
      {% endif %}
    </ul>
  </nav>
    <div class="container">
      {% for book in books %}
        {% if loop.index0 % 2 == 0 %}
          <div class="row">
        {% endif %}
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                {% if book['image_url'].endswith('nopic.gif') %}
                  <img class="img-fluid" src="/media/images/nopic.gif" alt="Обложка книги {{book['title']}}">
                {% else %}
                  <img class="img-fluid" src="{{book['image_url']}}" alt="Обложка книги {{book['title']}}">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{book['title']}}</h5>
                  <p class="card-text">{{book['author']}}</p>
                    {% for genre in book['genres'] %}
                      <span class="badge badge-secondary">{{genre}}</span>
                    {% endfor %}
                  <h6><span class="badge badge-secondary"></span></h6>
                  <a href="{{book['book_path']}}" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% if loop.index % 2 == 0 or loop.last %}
            </div>
          {% endif %}
      {% endfor %}
  </div>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>